@{
    ViewData["Title"] = "Home Page";

}

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about @Configuration["DisplaySecretInfo"].</p>
</div>